<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="section">
<style>
	.board-table tbody td.preview {border-top: 0px; text-align: left;} 
	.tr-alert {font-weight: bold;}
</style>
<section>
	<div id="board-search">
		<div class="container">
			<div class="search-window" th:if="${SEARCH_DATA.code != 'B002'}">
    			<form id="search-form">
    				<input type="hidden" id="code" name="code" class="form-control">
					<div class="search-wrap">
						<label for="search" class="blind"></label>
						<input id="search" name="search" placeholder="검색어를 입력해주세요.">
						<button type="submit" class="btn btn-glass" id="search-btn">검색</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="board-list">
		<div class="container p-0-5">
			<table class="board-table">
				<thead>
					<tr>
						<th scope="col" class="th-num mobile-hide">번호</th>
						<th th:if="${param.code.toString() eq 'B004'}" scope="col">장르</th>
						<th scope="col" class="th-title">제목</th>
						<th scope="col" class="th-date mobile-hide center">작성일</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${SEARCH_DATA.code != 'B002'}" th:each="data : ${DATA}">
						<tr>
							<td class="mobile-hide center" th:text="${data.ROWNUMBER}">번호</td>
							<td class="center" th:if="${param.code.toString() eq 'B004'}" th:text="${data.GENRE}">장르</td>
							<td class="td-title">
								<a th:href="@{/board/read/{iboard}(iboard=${data.IBOARD})}" th:text="${data.TITLE}">제목</a>
								<svg th:if="${data.SEC_YN == 'Y'}" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
								  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
								</svg>
								<!-- <img th:src="@{/img/img-new.png}" class="new-img" alt="새로운 게시글 아이콘"> -->
								<div class="new-icon">NEW</div>
							</td>
							<td class="mobile-hide center" th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd HH:mm')}">작성일</td>
						</tr>
						<tr th:if="${SEARCH_DATA.search != ''}">
							<td colspan="4" class="preview">
							
							<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="gray" class="bi bi-arrow-right" viewBox="0 0 15 10">
							  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
							</svg>
							
							<span th:text="${data.PREVIEW_CONTENTS}"></span></td>
						</tr>
					</th:block>
					
					<th:block th:if="${SEARCH_DATA.code == 'B002'}">
						<tr class="tr-alert">
							<td class="mobile-hide center">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
								  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
								</svg>
							</td>
							<td class="td-title" style="padding-left: 10px;">Tistory RSS 연동 게시판입니다.</td>
							<td class="mobile-hide" ></td>
						<tr>
					
						<tr th:if="${RESULT == 1}" th:each="data : ${DATA}">
							<td class="mobile-hide center" th:text="${data.ROWNUMBER}">번호</td>
							<td class="td-title">
								<a th:href="${data.LINK}" th:text="${data.TITLE}" target="_blank">제목</a>
							</td>
							<td class="mobile-hide center" th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd HH:mm')}">작성일</td>
						</tr>
						
						<tr th:if="${RESULT != 1}">
							<td class="mobile-hide"></td>
							<td class="td-title">
								<span>블로그 데이터를 불러올 수 없습니다.</span>
							</td>
							<td class="mobile-hide"></td>
						</tr>
					</th:block>
					
					<tr th:if="${#lists.isEmpty(DATA) and SEARCH_DATA.search ne ''}">
						<th:block th:if="${param.code.toString() eq 'B004'}">
							<td colspan="4" class="center">검색 결과가 없습니다. 검색 단어: <strong th:text="${SEARCH_DATA.search}"></strong></td>
						</th:block>
						<th:block th:if="${param.code.toString() ne 'B004'}">
							<td colspan="3" class="center">검색 결과가 없습니다. 검색 단어: <strong th:text="${SEARCH_DATA.search}"></strong></td>
						</th:block>
					</tr>
					<tr th:if="${#lists.isEmpty(DATA) and SEARCH_DATA.search eq ''}">
						<th:block th:if="${param.code.toString() eq 'B004'}">
							<td colspan="4" class="center">등록된 게시글이 없습니다.</td>
						</th:block>
						<th:block th:if="${param.code.toString() ne 'B004'}">
							<td colspan="3" class="center">등록된 게시글이 없습니다.</td>
						</th:block>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div th:replace="~{fragments/pagination :: pagination}"></div>
	
	<div class="btn-group" th:if="${SEARCH_DATA.code != 'B002'}">
		<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
			<button type="submit" class="btn btn-glass" th:onclick="|location.href='@{/board/write(code = ${param.code})}'|">작성</button>
		</th:block>
	</div>
</section>

<script th:inline="javascript">
$('#search-btn').click(function(e) {
	let $search = $('#search');
	let $keyword = $search.val().trim();
	let $searchForm = $('#search-form');
	
	if($keyword === '') {
		alert('검색어를 입력해주세요.');
		$search.focus();
		e.preventDefault();
	} else {
		$searchForm.attr('action', '/board/list');
		$searchForm.attr('method', 'get');
		$searchForm.submit();
	}
});

$(document).ready(function(e) {
	let $main = $('main');
	let search_data = [[${SEARCH_DATA}]];
	let code = [[${param.code}]];
	let search = search_data.search || '';
	let today = new Date();
	let threeDaysAgo = new Date();
	threeDaysAgo.setDate(today.getDate() - 3);
	
	$('#code').val(code);
	$('#search').val(search);
	
	setInterval(function() {
		$('.new-icon').toggleClass('new-icon-dynamic');
	}, 800);
	
	$('table tbody tr').each(function() {
		var createdAt_ = $(this).find('td:last').text().trim();
		var createdAt = new Date(createdAt_.split(' ')[0]);
		
		if(createdAt > threeDaysAgo) {
			$(this).find('.new-icon').show();
		}
	});
	
	$('.page-item').each(function(e) {
		let queryPage = [[${param.page}]] == null ? '1' : [[${param.page}]][0]	// 쿼리 스트링에 담겨있는 페이지
		let currentPage = $(this).text().trim();									// 사용자가 선택한 페이지
	});
});
</script>
</html>