<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="article">

<style>main { height: 100%; }</style>

<section class="notice">
	<div class="page-title">
		<div class="container">
			<h3 th:text="${ARTICLE_TITLE}">타이틀</h3>
		</div>
	</div>

	<div id="board-search">
		<div class="container">
			<div class="search-window">
    			<form id="search-form">
    				<input type="hidden" id="code" name="code" class="form-control">
					<div class="search-wrap">
						<label for="search" class="blind"></label>
						<input id="search" name="search" placeholder="검색어를 입력해주세요.">
						<button type="submit" class="btn btn-dark" id="search-btn">검색</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="board-list">
		<div class="container">
			<table class="board-table">
				<thead>
					<tr>
						<th scope="col" class="th-num mobile-hide">번호</th>
						<th th:if="${param.code.toString() eq 'B004'}" scope="col">장르</th>
						<th scope="col" class="th-title">제목</th>
						<th scope="col" class="th-date mobile-hide">작성일</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="data : ${DATA}">
						<td class="mobile-hide" th:text="${data.ROWNUMBER}">번호</td>
						<td th:if="${param.code.toString() eq 'B004'}" th:text="${data.GENRE}">장르</td>
						<td class="td-title">
							<a th:href="@{/board/read-md(iboard = ${data.IBOARD})}" th:text="${data.TITLE}">제목</a>
							<svg th:if="${data.SEC_YN == 'Y'}" xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
							  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
							</svg>
						</td>
						<td class="mobile-hide" th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd HH:mm')}">작성일</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div th:replace="~{fragments/pagination :: pagination}"></div>
	
	<div class="btn-group">
		<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
			<button type="submit" class="btn btn-dark" id="search-btn" th:onclick="|location.href='@{/board/write-md(code = ${param.code})}'|">작성</button>
		</th:block>
	</div>
</section>

<script th:inline="javascript">
function search() {
	let search = ($('#search').val()).trim();
	
	if(search == null || search == '') {
		alert('검색어를 입력해주세요.');
		return false;
	} else {
		$('#search-form').attr('action', '/board/list');
		$('#search-form').attr('method', 'get');
		$('#search-form').submit();
	}
}

$('#search-btn').click(function(e) {
	search();
});

$(document).ready(function(e) {
	let $main 		= $('main');
	let search_data = [[${SEARCH_DATA}]];
	let $code 		= [[${param.code}]];
	
	$('#code').val($code);
	$('#search').val(search_data.search);
	
	$('.page-item').each(function(e) {
		let queryPage   = [[${param.page}]] == null ? '1' : [[${param.page}]][0]	// 쿼리 스트링에 담겨있는 페이지
		let currentPage = $(this).text().trim();									// 사용자가 선택한 페이지
	});
});
</script>
</html>