<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default-layout}"
      layout:fragment="article">
<style>
	main { height: 100%; }
</style>
<article id="article-board-main">
	<p id="article-title" th:text="${ARTICLE_TITLE}">
		NOTICE
	</p>
	
	<table class="table table-hover" id="table-list">
		<thead>
			<tr>
				<!-- <th scope="col" class="mobile-hide">번호</th> -->
				
				<th th:if="${param.code.toString() eq 'B004'}" scope="col">장르</th>
				<th scope="col">제목</th>
				<th scope="col" class="mobile-hide">작성일</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table" th:each="data : ${DATA}">
				<!-- <td th:text="${data.IBOARD}" class="mobile-hide">1</td> -->
				<td th:if="${param.code.toString() eq 'B004'}" th:text="${data.GENRE}"></td>
				<td><a th:href="@{/board/read-md(iboard = ${data.IBOARD})}"><span th:text="${data.TITLE}"></span></a></td>
				<td th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd HH:mm')}" class="mobile-hide">2024-09-16 23:28</td>
			</tr>
		</tbody>
	</table>
	
	<div th:replace="~{/fragments/pagination :: pagination}" ></div>
	
	<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
	<div id="btn-grp">
		<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/board/write-md(code = ${param.code})}'|">WRITE</button>
	</div>
	</th:block>
</article>

<script th:inline="javascript">
$(document).ready(function(e) {
	$('.page-item').each(function(e) {
		let queryPage   = [[${param.page}]] == null ? '1' : [[${param.page}]][0]	// 쿼리 스트링에 담겨있는 페이지
		let currentPage = $(this).text().trim();									// 사용자가 선택한 페이지
		
		if(queryPage == currentPage) {
			$(this).addClass('active');
			$(this).find('a').css('color', '#FFF');
		}
	});
});
</script>
</html>