<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default-layout}"
      layout:fragment="article">
<style>
	article {
		background-color: transparent;
	}	
</style>
<article id="article-board-main">
	<p id="article-title" th:text="${ARTICLE_TITLE}">
		NOTICE
	</p>
	
	<div class="thumbnail-contents-wrap">
		<th:block th:each="data : ${DATA}">
			<div class="thumbnail-item">
				<a>
					<th:block th:if="${data.TUMBNAIL == ''}">
						<img th:src="@{/img/img-noimage.png}" alt="썸네일">
					</th:block>
					<th:block th:if="${data.TUMBNAIL != ''}">
						<img th:src="${data.TUMBNAIL}" alt="썸네일">
					</th:block>						
				</a>
				<a class="thumbnail-item-info" th:href="@{/board/read-md(iboard = ${data.IBOARD})}">
					<p th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd')}"></p>
					<span th:text="${data.TITLE}"></span>
				</a>
			</div>
		</th:block>
	</div>
	
	<div th:replace="~{fragments/pagination :: pagination}"></div>
	
	<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
	<div id="btn-grp" style="padding: 0">
		<button type="button" class="btn btn-light" th:onclick="|location.href='@{/board/write-md(code = ${param.code})}'|">WRITE</button>
	</div>
	</th:block>
</article>

<script th:inline="javascript">
$(document).ready(function(e) {
	$('.page-item').each(function(e) {
		let queryPage   = [[${param.page}]] == null ? '1' : [[${param.page}]][0]	// 쿼리 스트링에 담겨있는 페이지
		let currentPage = $(this).text().trim();									// 사용자가 선택한 페이지
		
		if(queryPage == currentPage) {
			$(this).addClass('active');
			$(this).find('a').css('color', '#FFF');
		}
	});
});
</script>
</html>