<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default-layout}"
      layout:fragment="article">
<style>
	#article-board-main { overflow: auto; }
	.table { margin-bottom: 0 !important; }
	#thumbnail-wrap { display: none; }
	blockquote { border-left: 6px solid darkgray; padding-left: 10px; }
	blockquote > p { color: darkgray; }
</style>
<article id="article-board-main" class="contents">
	<p id="article-title" th:text="${DATA.article_title}">
	</p>
	
	<div id="read-top-wrap">
		<p><strong id="read-title" th:text="${DATA.title}"></strong></p>
		<p><strong id="read-created-at" th:text="${#dates.format(DATA.created_at, 'yyyy-MM-dd')}"></strong></p>
	</div>
	
	<hr>
	
	<div id="thumbnail-wrap">
		<img id="thumbnail-preview" alt="썸네일">
		<p id="thumbnail-title">썸네일</p>
	</div>
	
	<div id="movie-wrap">
		<iframe th:src="'https://www.youtube.com/embed/' + ${DATA.youtube_id}">
		</iframe>
	</div>
	
	<div id="editor"></div>
	
	<div id="btn-grp">
		<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
			<button type="button" id="btn-delete" class="btn btn-danger">DELETE</button>
			<button type="button" id="btn-update" class="btn btn-success" th:onclick="|location.href='@{/board/update-md(iboard = ${DATA.iboard})}'|">UPDATE</button>
		</th:block>
		<button type="button" id="btn-list" class="btn btn-secondary" th:onclick="|location.href='@{/board/list(code = ${DATA.icode})}'|">LIST</button>
	</div>
</article>

<th:block th:if="${#arrays.length(NEXT_POST) > 0 || #arrays.length(PREV_POST) > 0}">
	<article id="article-board-main">
		<table class="table" id="table-list">
			<tbody>
				<tr class="table" th:each="data : ${NEXT_POST}">
					<td class="bottom-post-title">
						<strong>다음 글</strong>
					</td>
					<td>
						<a th:href="@{/board/read-md(iboard = ${data.iboard})}">
							<span th:text="${data.title}"></span>
						</a>
					</td>
				</tr>
				
				<tr class="table" th:each="data : ${PREV_POST}">
					<td class="bottom-post-title">
						<strong>이전 글</strong>
					</td>
					
					<td>
						<a th:href="@{/board/read-md(iboard = ${data.iboard})}">
							<span th:text="${data.title}"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</article>
</th:block>

<script th:inline="javascript">
	$(document).ready(() => {
		let code              		  = [[${DATA.icode}]];
		let contents          		  = [[${DATA.contents}]];
		let name 			  		  = ([[${DATA.name}]] || '');
		let $thumbnailPreview 		  = $('#thumbnail-preview');
		let $thumbnailTitle			  = $('#thumbnail-title');
		let $main                     = $('main');
		let $articleBoardMainContents = $('#article-board-main.contents');
		
		
		$('#editor').html(contents);
		
		if(code == 'B004') {
			$('#movie-wrap').css('display', 'block');
		}
		
		if(name != '') {
			$thumbnailPreview.attr('src', name);
			$thumbnailPreview.css('display', 'block');
			$thumbnailTitle.css('display', 'block');
		}
		
		if($(window).width() > 768) {
		    $('.image > img').each(function() {
		    	$(this).on('load', function() {
			        if ($(this).width() < 1000) {
			        	$(this).css('width', 'auto');
		        	} else {
		        		$(this).css('width', '60%');
		        	}
		    	});
		    });
		} else {
		    $('.image > img').each(function() {
		    	$(this).on('load', function() {
			        if ($(this).width() < 1000) {
		        		$(this).css('width', '100%');
		        	} else {
			        	$(this).css('width', 'auto');
		        	}
		    	});
		    });
		}
		
		setTimeout(function() {
			console.log('$articleBoardMainContents          = ', $articleBoardMainContents);
			console.log('$articleBoardMainContents.height() = ', $articleBoardMainContents.height());
			
			if($(window).width() < 768) {
				if($articleBoardMainContents.height() < 600) {
					$main.css('height', '630px');
				} else {
					$main.css('height', 'auto');
					$('footer').css('margin-top', '50px');
				}
			} else {
				if($articleBoardMainContents.height() < 700) {
					$main.css('height', '730px');
				} else {
					$main.css('height', 'auto');
				}
			}
		}, 1000);
	});
	
	$('#btn-delete').click(() => {
		if(confirm('삭제된 게시글은 복구할 수 없습니다. 삭제하시겠습니까?')) {
			let iboard = [[${DATA.iboard}]];
			let code   = [[${DATA.icode}]];
			
			$.ajax({
				type		: 'PATCH',
				url			: '/board/delete',
				data		: {iboard : iboard},
				contentType	: 'application/x-www-form-urlencoded',
				success		: (data) => {
					const RESULT = data.RESULT;
					
					if(RESULT == 1) {
						alert('게시글이 삭제되었습니다.');
						location.href = '/board/list?code=' + code;
					} else {
						alert('게시글 삭제에 실패하였습니다.');
						return;
					}
				}, error	: (err) => {
					console.log('err = ', err);
				}
			})
		}
	});
</script>
</html>