<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="article">
<section class="notice">
	<div class="page-title">
		<div class="container">
			<h3 th:text="${DATA.article_title}">타이틀</h3>
		</div>
	</div>

	<div id="board-list">
		<div class="container">
			<table class="board-table">
				<tbody>
					<tr>
						<td class="td-10p mobile-hide" scope="col">제목
						<td class="td-10p" th:text="${DATA.title}">제목</td>
					</tr>
					
					<tr>
						<td scope="col" class="mobile-hide">작성일</td>
						<td th:text="${#dates.format(DATA.created_at, 'yyyy-MM-dd')}">작성일</td>
					</tr>
					
					<!-- 썸네일 표출(미사용으로 주석 처리) -->
					<!--
					<tr class="tr-thumbnail tr-remove">
						<td colspan="2"><img id="thumbnail-preview" alt="썸네일"><p><strong>썸네일</strong></p></td>
					</tr>
					-->
					
					<!-- 음악 게시판일 경우 유튜브 동영상 표출 -->
					<tr class="tr-youtube tr-remove">
						<td colspan="2"><iframe th:src="'https://www.youtube.com/embed/' + ${DATA.youtube_id}"></iframe></td>
					</tr>
					
					<!-- CKEditor5 웹에디터 -->
					<tr>
						<td colspan="2"><div id="editor"></div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="btn-group">
		<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
			<button type="button" class="btn btn-dark" id="btn-delete">삭제</button>
			<button type="button" class="btn btn-dark" th:onclick="|location.href='@{/board/update-md(iboard = ${DATA.iboard})}'|">수정</button>
		</th:block>
		
		<button type="button" class="btn btn-dark" th:onclick="|location.href='@{/board/list(code = ${DATA.icode})}'|">목록</button>
	</div>

	<div class="container" th:if="${#arrays.length(NEXT_POST) > 0 || #arrays.length(PREV_POST) > 0}">
		<table class="board-table">
			<tbody>
				<tr th:each="data : ${NEXT_POST}">
					<td class="td-20p">다음 글</td>
					<td><a th:href="@{/board/read-md(iboard = ${data.iboard})}" th:text="${data.title}"></a></td>
				</tr>
				<tr th:each="data : ${PREV_POST}">
					<td class="td-20p">이전 글</td>
					<td><a th:href="@{/board/read-md(iboard = ${data.iboard})}" th:text="${data.title}"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<script th:inline="javascript">
	$(document).ready(() => {
		let code              		  = [[${DATA.icode}]];
		let contents          		  = [[${DATA.contents}]];
		let name 			  		  = [[${DATA.name}]] || '';
		let $thumbnailPreview 		  = $('#thumbnail-preview');
		let $main                     = $('main');
		let $articleBoardMainContents = $('#article-board-main.contents');
		let $trThumbnail 			  = $('.tr-thumbnail');
		let $trYoutube   			  = $('.tr-youtube');
		
		$('#editor').html(contents);
		
		// 음악 게시판일 경우 유튜브 동영상 표출
		if(code == 'B004') {
			$('iframe').css('display', 'block');
			$trYoutube.removeClass('tr-remove');
		}
		
		// 썸네일 표출(미사용으로 주석 처리)
		/*
		if(name != '') {
			$thumbnailPreview.attr('src', name);
			$thumbnailPreview.css('display', 'block');
			$trThumbnail.removeClass('tr-remove');
		}
		*/
		
		// 웹에디터 이미지 사이즈 조정
		if($(window).width() > 768) {
		    $('.image > img').each(function() {
		    	$(this).on('load', function() {
			        if ($(this).width() < 1000) {
			        	$(this).css('width', 'auto');
		        	} else {
		        		$(this).css('width', '60%');
		        	}
		    	});
		    });
		} else {
		    $('.image > img').each(function() {
		    	$(this).on('load', function() {
			        if ($(this).width() < 1000) {
		        		$(this).css('width', '100%');
		        	} else {
			        	$(this).css('width', 'auto');
		        	}
		    	});
		    });
		}
	});
	
	$('#btn-delete').click(() => {
		if(confirm('삭제된 게시글은 복구할 수 없습니다. 삭제하시겠습니까?')) {
			let iboard = [[${DATA.iboard}]];
			let code   = [[${DATA.icode}]];
			
			$.ajax({
				type		: 'PATCH',
				url			: '/board/delete',
				data		: {iboard : iboard},
				contentType	: 'application/x-www-form-urlencoded',
				success		: (data) => {
					const RESULT = data.RESULT;
					
					if(RESULT == 1) {
						alert('게시글이 삭제되었습니다.');
						location.href = '/board/list?code=' + code;
					} else {
						alert('게시글 삭제에 실패하였습니다.');
						return;
					}
				}, error	: (err) => {
					console.log('err = ', err);
				}
			})
		}
	});
</script>
</html>