<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default-layout}"
      layout:fragment="article">
<style>
	#article-board-main { overflow: auto; }
</style>
<article id="article-board-main">
	<p id="article-title" th:text="${DATA.article_title}">
	</p>
	
	<div id="read-top-wrap">
		<strong id="read-title" th:text="${DATA.title}"></strong>
		<strong id="read-created-at" th:text="${#dates.format(DATA.created_at, 'yyyy-MM-dd')}"></strong>
	</div>
	
	<hr>
	
	<div id="thumbnail-wrap">
		<img id="thumbnail-preview" alt="썸네일">
		<p id="thumbnail-title">썸네일</p>
	</div>
	
	<div id="movie-wrap">
		<iframe th:src="'https://www.youtube.com/embed/' + ${DATA.youtube_id}">
		</iframe>
	</div>
	
	<div id="editor"></div>
	
	<div id="btn-grp">
		<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
			<button type="button" id="btn-delete" class="btn btn-danger">DELETE</button>
			<button type="button" id="btn-update" class="btn btn-success" th:onclick="|location.href='@{/board/update-md(iboard = ${DATA.iboard})}'|">UPDATE</button>
		</th:block>
		<button type="button" id="btn-list" class="btn btn-secondary" th:onclick="|location.href='@{/board/list(code = ${DATA.icode})}'|">LIST</button>
	</div>
</article>

<script th:inline="javascript">
	$(document).ready(() => {
		let code              		= [[${DATA.icode}]];
		let contents          		= [[${DATA.contents}]];
		let name 			  		= ([[${DATA.name}]] || '');
		let $thumbnailPreview 		= $('#thumbnail-preview');
		let $thumbnailTitle			= $('#thumbnail-title');
		
		$('#editor').html(contents);
		
		if(code == 'B004') {
			$('#movie-wrap').css('display', 'block');
		}
		
		if(name != '') {
			$thumbnailPreview.attr('src', name);
			$thumbnailPreview.css('display', 'block');
			$thumbnailTitle.css('display', 'block');
		}
	});
	
	$('#btn-delete').click(() => {
		if(confirm('삭제된 게시글은 복구할 수 없습니다. 삭제하시겠습니까?')) {
			let iboard = [[${DATA.iboard}]];
			let code   = [[${DATA.icode}]];
			
			$.ajax({
				type		: 'PATCH',
				url			: '/board/delete',
				data		: {iboard : iboard},
				contentType	: 'application/x-www-form-urlencoded',
				success		: (data) => {
					const RESULT = data.RESULT;
					
					if(RESULT == 1) {
						alert('게시글이 삭제되었습니다.');
						location.href = '/board/list?code=' + code;
					} else {
						alert('게시글 삭제에 실패하였습니다.');
						return;
					}
				}, error	: (err) => {
					console.log('err = ', err);
				}
			})
		}
	});
	
	$(document).ready(() => {
		setTimeout(() => {
			let $articleBoardMainHeight = $('#article-board-main').outerHeight(true);
			$('main').css('height', $articleBoardMainHeight <= 700 ? '100%' : 'auto');
		}, 100);
	});	
</script>
</html>