<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default-layout}"
      layout:fragment="article">
<article id="article-board-main">
	<p id="article-title" th:text="${DATA.article_title}">
		
	</p>
	
	<strong th:text="${DATA.title}"></strong>
	<hr>
	<div id="editor"></div>
	
	<div id="btn-grp">
		<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
			<button type="button" id="btn-delete" class="btn btn-danger">DELETE</button>
			<button type="button" id="btn-update" class="btn btn-success" th:onclick="|location.href='@{/board/update-md(iboard = ${DATA.iboard})}'|">UPDATE</button>
		</th:block>
		<button type="button" id="btn-list" class="btn btn-secondary" th:onclick="|location.href='@{/board/list(code = 'B001')}'|">LIST</button>
	</div>
</article>

<script th:inline="javascript">
	$(document).ready(() => {
		let contents = [[${DATA.contents}]];
		$('#editor').html(contents);
	});

	let $btnDelete = $('#btn-delete');
	
	$btnDelete.click(() => {
		if(confirm('삭제된 게시글은 복구할 수 없습니다. 삭제하시겠습니까?')) {
			let iboard = [[${DATA.iboard}]];
			let code = [[${DATA.icode}]];
			
			$.ajax({
				type		: 'PATCH',
				url			: '/board/delete',
				data		: {iboard : iboard},
				contentType	: 'application/x-www-form-urlencoded',
				success		: (data) => {
					const RESULT = data.RESULT;
					
					if(RESULT == 1) {
						alert('게시글이 삭제되었습니다.');
						location.href = '/board/list?code=' + code;
					} else {
						alert('게시글 삭제에 실패하였습니다.');
						return;
					}
				}, error	: (err) => {
					console.log('err = ', err);
				}
			})
		}
		
		/*
		let paramCode = `[[${param.code}]]`;
		let code = paramCode.replace(/[\[\]"]/g, '');
		let title = $('#write-title').val();
		let contents = editor.getHTML().trim();
		let dto = {icode : code, title : title, contents : contents};
		

		*/
	})
</script>
</html>