<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default-layout}"
      layout:fragment="article">
<article id="article-board-main">
	<p id="article-title">
		WRITE
	</p>
	
<!--
	<table class="table table-hover" id="table-list">
		<thead>
			<tr>
				<th scope="col">번호</th>
				<th scope="col">제목</th>
				<th scope="col">작성일</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table">
				<td>1</td>
				<td>공지사항입니다.</td>
				<td>2024-09-16 23:28</td>
			</tr>
		</tbody>
	</table>
	
	<div id="btn-grp">
		<button type="button" class="btn btn-primary">WRITE</button>
	</div>
-->
</article>
</html>