<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default-layout}"
      layout:fragment="article">
<style> .row { margin-bottom: 10px; } .genre-form { display: flex; }</style>
<article id="article-board-main">
	<p id="article-title">
		WRITE
	</p>
	
	<div class="row">
      <label class="col-sm-2 col-form-label" for="write-title">TITLE</label>
      <div class="col-sm-10">
		<input type="text" id="write-title" class="form-control">
      </div>
    </div>
	
	<div class="row genre-form">
      <label class="col-sm-2 col-form-label" for="genre">GENRE</label>
      <select class="form-control" id="genre">
      	<th:block th:if="${DATA != null}">
	        <option th:value="${DATA.genre_code}" th:text="${DATA.genre_name}"></option>
      	</th:block>
 	    <th:block th:if="${DATA == null}">
	        <option></option>
      	</th:block>
      	<th:block th:each="genre : ${GENRE}">
	        <option th:value="${genre.ICODE}" th:text="${genre.NAME}"></option>
      	</th:block>
      </select>
    </div>
	
	<div class="row">
      <label class="col-sm-2 col-form-label" for="thumbnail">THUMBNAIL</label>
      <div class="col-sm-10">
        <input type="file" id="thumbnail" class="form-control" accept="image/*" onchange="thumnailPreview(this)">
      </div>
    </div>
	
	<img id="thumbnail-preview" alt="썸네일 미리보기"></img>
	
	<th:block th:if="${param.code != null}">
		<th:block th:with="code=${param.code}"></th:block>
	</th:block>
	<th:block th:if="${DATA != null}">
		<th:block th:with="code=${DATA.icode}"></th:block>
	</th:block>
	
	<textarea id="editor"></textarea>
	<!-- <div id="editor"></div> -->
	
	<div id="btn-grp">
		<button type="button" id="btn-cancel" class="btn btn-danger">CANCEL</button>
		<button type="button" id="btn-write" class="btn btn-success">WRITE</button>
	</div>
</article>

<script th:inline="javascript">
	let $btnWrite	= $('#btn-write');
	let $data		= ([[${DATA}]] || '');
	let $iboard		= ($data.iboard || '');
	let $code		= $data.icode != undefined ? $data.icode : [[${param.code}]];
	let youtube_id  = ($data.youtube_id || '');
	
	$(document).ready(() => {
		if($code == 'B004') {
			$('#thumbnail').attr('type', 'text');
			$('#thumbnail').attr('onchange', '');
			$('#thumbnail').attr('id', 'youtube-url');
			$('#thumbnail').val('');
			$('label[for="thumbnail"]').text('YOUTUBE URL');
			$('.genre-form').css('display', 'flex');
			
			if($iboard != '') {
				let youtubeURL 		= 'https://www.youtube.com/watch?v=' + $data.youtube_id;
				let yotubeTumbnail	= 'https://img.youtube.com/vi/' + $data.youtube_id + '/0.jpg';
				
				$('#youtube-url').val(youtubeURL);
				$('#thumbnail-preview').attr('src', yotubeTumbnail);
				$('#thumbnail-preview').css('display', 'block');
			}
		}
		
		
		$('#youtube-url').on('input', () => {
			youtubeIdGet();
		});
	});
	
	function youtubeIdGet() {
		let url		= $('#youtube-url').val();
		let id		= url.split('v=')[1]?.split('&')[0];
		youtube_id	= id;
		
		if(id && id.length == 11) {
			$('#thumbnail-preview').css('display', 'block');
			$('#thumbnail-preview').attr('src', 'https://img.youtube.com/vi/' + id + '/0.jpg');
		} else {
			alert('유튜브 링크를 확인해주세요.');
			$('#youtube-url').val('');
			$('#thumbnail-preview').css('display', 'flex');
			return;
		}
	}
	
	// SimpleMDE 웹에디터 초기화
	var editor = new SimpleMDE({
		element: $("#editor")[0]
	});

	/*
	// TinyMCE 웹에디터 초기화
	$('#editor').tinymce({
		width: '100%',
		height: '500px',
		plugins: [
			
		],
		toolbar: ''
	});
	*/
	
	// 썸네일 미리보기
	function thumnailPreview(file) {
		let thumbnail = file.files[0];
		
		if(thumbnail) {
			let reader = new FileReader();
			
			reader.onload = function(e) {
				let thumbnailPreview = $('#thumbnail-preview');
				thumbnailPreview.attr('src', e.target.result);
				thumbnailPreview.css('display', 'block');
			};
			
			reader.readAsDataURL(thumbnail);
		}
	}
	
	if($iboard != '') {
		$('#btn-write').html('UPDATE');
		$('#article-title').html('UPDATE');
		$('#write-title').val($data.title);
		editor.value($data.contents);
		
		$('#btn-write').attr('id', 'btn-update');
	}
	
	$('#btn-update').click(() => {
		if(confirm('게시글을 수정하시겠습니까?')) {
			let $title		= $('#write-title').val();
			let contents	= editor.value();
			let $genre      = $('#genre').val();
			let dto			= {iboard : $iboard, title : $title, contents : contents, youtube_id : youtube_id, genre : $genre};
			
			$.ajax({
				type		: 'PATCH',
				url			: '/board/update-md',
				data		: JSON.stringify(dto),
				contentType	: 'application/json',
				success		: (data) => {
					const RESULT = data.RESULT;
					
					if(RESULT == 1) {
						alert('게시글이 수정되었습니다.');
						location.href = '/board/read-md?iboard=' + $iboard;
					} else {
						alert('게시글 수정에 실패하였습니다.');
						return;
					}
				}, error	: (err) => {
					console.log('err = ', err);
				}
			})
		}
	});
	
	$btnWrite.click(() => {
		let paramCode 	= `[[${param.code}]]`;
		let code 		= paramCode.replace(/[\[\]"]/g, '');
		let title 		= $('#write-title').val();
		let contents 	= editor.value();
		let $genre      = ($('#genre').val() || null);
		let formData 	= new FormData();
		
		formData.append("icode"			, code);
		formData.append("title"			, title);
		formData.append("contents"		, contents);
		formData.append("youtube_id"	, youtube_id);
		formData.append("genre"	        , $genre);
		
		if($code == 'B004') {
			formData.append("thumbnail"		, null);
		} else {
			let thumbnail = $('#thumbnail')[0].files[0];
			formData.append("thumbnail"		, thumbnail);
		}
		
		$.ajax({
			type		: 'POST',
			url			: '/board/write-md',
			data		: formData,
			processData : false,
			contentType	: false,
			success		: (data) => {
				const RESULT = data.RESULT;
				
				if(RESULT == 1) {
					alert('게시글이 등록되었습니다.');
					location.href = '/board/list?code=' + code;
				} else if(RESULT == -5) {
					alert('썸네일 등록 시 일시적인 에러가 발생하였습니다.');
					return;
				} else if(RESULT == -3) {
					alert('데이터 등록 시 일시적인 에러가 발생하였습니다.');
				}
			}, error	: (err) => {
				console.log('err = ', err);
			}
		})
	});
	
	/*
	$btnWrite.click(() => {
		let paramCode = `[[${param.code}]]`;
		let code = paramCode.replace(/[\[\]"]/g, '');
		let title = $('#write-title').val();
		let contents = editor.value();
		let thumbnail = file.files[0];
		let dto = {icode : code, title : title, contents : contents};
		
		$.ajax({
			type		: 'POST',
			url			: '/board/write-md',
			data		: JSON.stringify(dto),
			contentType	: 'application/json',
			success		: (data) => {
				const RESULT = data.RESULT;
				
				if(RESULT == 1) {
					alert('게시글이 등록되었습니다.');
					location.href = '/board/list?code=' + code;
				} else {
					alert('게시글 등록에 실패하였습니다.');
					return;
				}
			}, error	: (err) => {
				console.log('err = ', err);
			}
		})
	});
	*/
	
	$('#btn-cancel').click(() => {
		if(confirm('게시글 작성을 취소하고 목록으로 돌아가시겠습니까?')) {
			location.href = '/board/list?code=' + $code;
		}
	});
	
	$(document).ready(() => {
		setTimeout(() => {
			let $articleBoardMainHeight = $('#article-board-main').outerHeight(true);
			$('main').css('height', $articleBoardMainHeight <= 800 ? '100%' : 'auto');
		}, 100);
	});	
</script>
</html>