<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="article">
<style>
.row { margin-bottom: 10px; }
#genre { display: none; appearance: none; }
.ck.ck-editor { width: 880px; margin: auto; }
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused),
.ck.ck-editor__main>.ck-editor__editable:not(.ck-bulrred) { padding-left: 30px; }
#board-search .search-window .search-wrap { max-width: 1000px; padding-right: 0; }
#board-search .search-window .search-wrap .btn { position: static; width: 100%; }
.sec-yn-wrap { margin: 5px 0; }
#sec-yn { width: auto !important; height: auto !important; }
</style>
<section class="notice">
	<div class="page-title">
		<div class="container">
			<h3>WRITE</h3>
		</div>
	</div>

	<div id="board-search">
		<div class="container">
			<div class="search-window">
				<form id="search-form">
					<div class="search-wrap">
						<!-- 제목 입력란 -->
						<input id="write-title" placeholder="제목">
						
						<!-- 음악 게시판일 경우 표출 -->
						<select class="form-control" id="genre">
							<th:block th:if="${DATA != null}">
								<option th:value="${DATA.genre_code}" th:text="${DATA.genre_name}"></option>
							</th:block>
							<th:block th:if="${DATA == null}">
								<option value="">장르</option>
							</th:block>
							<th:block th:each="genre : ${GENRE}">
								<option th:value="${genre.ICODE}" th:text="${genre.NAME}"></option>
							</th:block>
						</select>
						
						<!-- 썸네일 선택 및 썸네일 미리보기 표출 -->						
						<input type="file" id="thumbnail" accept="image/*" onchange="thumnailPreview(this)">
						<img id="thumbnail-preview" alt="썸네일 미리보기"></img>
						
						<div id="sec-yn-wrap">
							<span>비밀글 여부</span>
							<input type="checkbox" id="sec-yn" name="sec-yn" />
						</div>
					</div>
				</form>
				
				<!-- 웹에디터 -->
				<textarea id="editor"></textarea>
			</div>
		</div>
		
		<div class="btn-group">
			<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
				<button type="button" id="btn-write" class="btn btn-green">작성</button>
			</th:block>
		</div>
	</div>
</section>

<script th:inline="javascript">
	let $data					= [[${DATA}]] || '';
	let $iboard					= $data.iboard || '';
	let $code					= $data.icode != undefined ? $data.icode : [[${param.code}]];
	let youtube_id  			= $data.youtube_id || '';
	let $secYn                  = $data.sec_yn || 'N';
	let $thumbnail				= $('#thumbnail');
	let $thumbnailPreview 		= $('#thumbnail-preview');
	let editor					= null;
	
	$(document).ready(() => {
		if($code == 'B004') {
			let $youtubeUrl = $('#youtube-url');
			
			$thumbnail.attr('type', 'text');
			$thumbnail.attr('onchange', 'youtubeIdGet()');
			$thumbnail.attr('placeholder', '유튜브 링크');
			$thumbnail.attr('id', 'youtube-url');
			$thumbnail.val('');
			$('label[for="thumbnail"]').text('YOUTUBE URL');
			$('#genre').css('display', 'flex');
			
			if($iboard != '') {
				let youtubeURL 		= 'https://www.youtube.com/watch?v=' + $data.youtube_id;
				let yotubeTumbnail	= 'https://img.youtube.com/vi/' + $data.youtube_id + '/0.jpg';
				
				$youtubeUrl.val(youtubeURL);
				$thumbnailPreview.attr('src', yotubeTumbnail);
				$thumbnailPreview.css('display', 'block');
			}
		} else {
			$('#thumbnail').css('display', 'none');
		}
		
		if($secYn == 'Y') {
			$('#sec-yn').prop('checked', true);
		}
		
		$('#youtube-url').on('input', () => {
			youtubeIdGet();
		});
	});
	
	function youtubeIdGet() {
		let url		    = $('#youtube-url').val();
		let id		    = url.split('v=')[1]?.split('&')[0];
		let $youtubeUrl = $('#youtube-url');
		youtube_id	    = id;
		
		
		if(id && id.length == 11) {
			$thumbnailPreview.css('display', 'block');
			$thumbnailPreview.attr('src', 'https://img.youtube.com/vi/' + id + '/0.jpg');
		} else {
			alert('유튜브 링크를 확인해주세요.');
			$youtubeUrl.val('');
			$thumbnailPreview.css('display', 'flex');
			return;
		}
	}
	
	// CKEditor5 웹에디터 초기화
	ClassicEditor.create(document.querySelector('#editor'), {
		language	: 'ko',
		ckfinder	: { uploadUrl: '/board/upload-img' },
		toolbar		: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'imageUpload', 'blockQuote', 'insertTable', 'mediaEmbed', 'undo', 'redo'],
	})
	.then(e => {
		editor = e;
		
		if($iboard != '') {
			editor.setData($data.contents);
		}
		
		console.log('EDITOR WAS INITIALIZED.');
	})
	.catch(error => {
		console.log(error);
	});
	
	// 썸네일 미리보기
	function thumnailPreview(file) {
		let thumbnail = file.files[0];
		
		if(thumbnail) {
			let reader		= new FileReader();
			reader.onload	= function(e) {
				$thumbnailPreview.attr('src', e.target.result);
				$thumbnailPreview.css('display', 'block');
			};
			
			reader.readAsDataURL(thumbnail);
		}
	}
	
	if($iboard != '') {
		$('#btn-write').html('수정');
		$('#article-title').html('UPDATE');
		$('#write-title').val($data.title);
		$('#btn-write').attr('id', 'btn-update');
	}
	
	$('#btn-update').click(() => {
		if(confirm('게시글을 수정하시겠습니까?')) {
			let $title		= $('#write-title').val();
			let contents	= editor.getData();
			let $genre      = $('#genre').val();
			let $secYn		= $('#sec-yn').is(':checked') ? 'Y' : 'N';
			let dto			= {iboard : $iboard, title : $title, contents : contents, youtube_id : youtube_id, genre : $genre, sec_yn : $secYn };

			$.ajax({
				type		: 'PATCH',
				url			: '/board/update-md',
				data		: JSON.stringify(dto),
				contentType	: 'application/json',
				success		: (data) => {
					const RESULT = data.RESULT;
					
					if(RESULT == 1) {
						alert('게시글이 수정되었습니다.');
						location.href = '/board/read-md?iboard=' + $iboard;
					} else {
						alert('게시글 수정에 실패하였습니다.');
						return;
					}
				}, error	: (err) => {
					console.log('err = ', err);
				}
			})
		}
	});
	
	$('#btn-write').click(() => {
		let paramCode 	= `[[${param.code}]]`;
		let code 		= paramCode.replace(/[\[\]"]/g, '');
		let $title 		= $('#write-title').val();
		let contents 	= editor.getData();
		let $genre      = ($('#genre').val() || null);
		let $secYn		= $('#sec-yn').is(':checked') ? 'Y' : 'N';
		let formData 	= new FormData();
		
		formData.append("icode"			, code);
		formData.append("title"			, $title);
		formData.append("contents"		, contents);
		formData.append("youtube_id"	, youtube_id);
		formData.append("genre"	        , $genre);
		formData.append("sec_yn"	    , $secYn);
		
		if($code == 'B004') {
			if($title == '' || $title == null) {
				alert('제목을 입력해주세요.');
				$('#write-title').focus();
				return;
			}
			
			if($genre == '' || $genre == null) {
				alert('장르 선택은 필수입니다.');
				$('#genre').focus();
				return;
			}
			
			if(youtube_id == '' || youtube_id == null) {
				alert('링크 첨부는 필수입니다.');
				$('#youtube-url').focus();
				return;
			}
			
			formData.append("thumbnail"		, null);
		} else {
			formData.append("thumbnail"		, null);
			/*
			let thumbnail = $('#thumbnail')[0].files[0];
			formData.append("thumbnail"		, thumbnail);
			*/
		}
		
		$.ajax({
			type		: 'POST',
			url			: '/board/write-md',
			data		: formData,
			processData : false,
			contentType	: false,
			success		: (data) => {
				const RESULT = data.RESULT;
				
				if(RESULT == 1) {
					alert('게시글이 등록되었습니다.');
					location.href = '/board/list?code=' + code;
				} else if(RESULT == -5) {
					alert('썸네일 등록 시 일시적인 에러가 발생하였습니다.');
					return;
				} else if(RESULT == -3) {
					alert('데이터 등록 시 일시적인 에러가 발생하였습니다.');
				}
			}, error	: (err) => {
				console.log('err = ', err);
			}
		})
	});
	
	$('#btn-cancel').click(() => {
		if(confirm('게시글 작성을 취소하고 목록으로 돌아가시겠습니까?')) {
			location.href = '/board/list?code=' + $code;
		}
	});
</script>
</html>