<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="footer">
<footer>
<!-- <img id="footer-logo" th:src="@{img/img-logo.png}"> -->
<div id="footer-links">
	<a href="https://github.com/hobbyscripterII" target="_blank"><span>GITHUB</span></a> &nbsp; &nbsp;
	<a href="https://mytilblog.tistory.com" target="_blank"><span>TECH BLOG</span></a> &nbsp; &nbsp;
	<a href="https://blog.naver.com/wruomma2" target="_blank"><span>NAVER BLOG</span></a>
</div>
<p>Copyright © 2024 이주영</p>
</footer>
</html>