<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="head">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPIRE</title>
</head>

<link rel="stylesheet" th:href="@{/css/cmmn.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/aside.css}">
<link rel="stylesheet" th:href="@{/css/article.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/mediaquery.css}">

<!-- Bootstrap 테마	--> <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}">
<!-- 마크다운 웹에디터	-->	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"> -->
<!-- ---------------------------------------------------------------------------------------------------- -->
<!-- JQuery 		--> <script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- Bootstrap 		--> <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- 마크다운 파싱 	--> <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<!-- CKEditor5	    --> <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>  
<!-- CKEditor5	    --> <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script> 
<!-- 마크다운 웹에디터	--> <!-- <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script> -->
<!-- TinyMCE	    --> <!-- <script src="https://cdn.tiny.cloud/1/csxpawt059rsekfp3yylmlcqbfdbzukb73iip8v5jfwyspna/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script> -->

<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/article.js}"></script>
<script th:src="@{/js/lib/prism.js}"></script>
</html>