<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header">
<!-- fixed sticky header -->
<header>
    <div class="header-banner">
        <!-- <h1><a th:href="@{/}">Jy's Homepage</a></h1> -->
    </div>
    <div class="clear"></div>
    <nav>
		<!-- <div class="site-title"><a th:href="@{/}">Jy's Homepage</a></div> -->
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/board/list?code=B001}">Notice</a></li>
            <!-- <li><a th:href="@{/board/list?code=B002}">Study</a></li> -->
            <li><a th:href="@{/board/list?code=B004}">Music</a></li>
            <li><a th:href="@{/board/list?code=B005}">Daily</a></li>
            <th:block sec:authorize="isAnonymous()"><li><a th:href="@{/login}">Login</a></li></th:block>
            <th:block sec:authorize="isAuthenticated()"><li><a th:href="@{/logout}">Logout</a></li></th:block>
        <ul>
    </nav>
</header>
<script>
	$(window).scroll(function(){
	    if ($(window).scrollTop() >= 300) {
	        $('nav').addClass('fixed-header');
	        $('nav div').addClass('visible-title');
	    }
	    else {
	        $('nav').removeClass('fixed-header');
	        $('nav div').removeClass('visible-title');
	    }
	});
</script>
</html>