<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header">
<header>
    <div>
	    <nav>
	    	<img class="hamburger" th:src="@{/img/img-tomato.png}"></img>
			<!-- <div class="hamburger">&#9776;</div> -->
	        <div class="site-title"></div>
	        <ul>
	            <li><a th:href="@{/}">Main</a></li>
	            <!-- <li><a th:href="@{/board/list(code='B001')}">Notice</a></li> -->
	            <!-- <li><a th:href="@{/board/list(code='B006')}">Design</a></li> -->
	            <li><a th:href="@{/board/read/10000}">About Me</a></li>
	            <li><a th:href="@{/board/read/10001}">Portfolio</a></li>
	            <li><a th:href="@{/board/list(code='B002')}">Study</a></li>
	            <li><a th:href="@{/board/list(code='B005')}">Daily</a></li>
	            <li><a th:href="@{/board/list(code='B004')}">Music</a></li>
	            
			    <th:block sec:authorize="hasRole('ADMIN')">
					<li><a th:href="@{/board/list(code='B007')}">Data</a></li>
			    </th:block>
			    
			    <th:block sec:authorize="isAnonymous()">
			    	<li><a th:href="@{/login}">Login</a></li>
			    </th:block>
			    
			    <th:block sec:authorize="isAuthenticated()">
			        <li><a th:href="@{/logout}">Logout</a></li>
			    </th:block>
	        </ul>
	    </nav>
	    <!-- <div class="hamburger">&#9776;</div> -->
	    <img class="hamburger" th:src="@{/img/img-tomato.png}"></img>
    </div>
</header>
<script>
let pin_yn     = localStorage.getItem('pin_yn');
let $hamburger = $('.hamburger');
let $nav 	   = $('nav');

$(function() {
    pin(pin_yn);
});

$hamburger.click(function() {
    pin_yn = (pin_yn == null || pin_yn == 'n') ? 'y' : 'n';
    
    pin(pin_yn);
});

function pin(yn) {
	let $main    = $('main');
	let $section = $('section');
	let $footer  = $('footer');
	
    if (yn == 'n' || yn == null) {
        $('nav > .hamburger').css('display', 'none');
        $('div > .hamburger').css('display', 'block');
        
        $nav.removeClass('open');
        $section.css('width', '100%');
        $footer.css('position', 'static');
        $footer.css('width', '100%');
    } else if (yn == 'y') {
    	let $windowWidth = $(window).width();
    	let $navWidth    = $nav.outerWidth();
        let width		 = $windowWidth - $navWidth;
        
        $('nav > .hamburger').css('display', 'block');
        $('div > .hamburger').css('display', 'none');
        
        if(!mobile()) {
        	$footer.css('width', width + 'px');
        	$footer.css('position', 'absolute');
        	$footer.css('right', '0');
	        $section.css('width', width + 'px');
	        $main.css('display', 'flex');
	        $main.css('justify-content', 'right');
        } else {
            yn = 'n';
            
        	$footer.css('width', '100%');
        	$footer.css('position', 'static');
            $section.css('width', '100%');
        }

        $nav.addClass('open');
    }
	
    localStorage.setItem('pin_yn', yn);
}

function mobile() {
    return window.innerWidth <= 768;
}
</script>
</html>