<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="nav">
<header>
<img id="header-hamburger-btn" src="https://img.icons8.com/?size=100&id=8113&format=png&color=ffffff" alt="햄버거 버튼 아이콘" onclick="sidebarToggle()">
<a href="/"><img id="header-logo" th:src="@{/img/img-logo.png}" alt="로고 아이콘"></img></a>
<!-- <a href="/"><span id="header-name">Home</span></a> -->

<div class="overlay"></div>
<div id="header-sidebar">
	<a th:href="@{/board/list(code='B001')}">NOTICE</a>
	<a th:href="@{/board/list(code='B002')}">STUDY</a>
	<a th:href="@{/board/list(code='B003')}">PHOTO</a>
	<a th:href="@{/board/list(code='B004')}">MUSIC</a>
	<a th:href="@{/board/list(code='B005')}">DAILY</a>
	
	<th:block sec:authorize="isAnonymous()">		<!-- 익명 사용자일 경우 로그인 버튼 출력 -->
		<a th:href="@{/login}">LOGIN</a>
	</th:block>
	<th:block sec:authorize="isAuthenticated()">	<!-- 권한 관계없이 인증 완료 후 로그아웃 버튼 출력 -->
		<a th:href="@{/logout}">LOGOUT</a>
	</th:block>
</div>
</header>
</html>