<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="section">
<style>.container {text-align: center;} .container h3 {color: red; font-weight: bold;}</style>
<section>
	<div class="page-title">
		<div class="container">
			<h3 th:text="${ERROR.ARTICLE_TITLE}"></h3>
			<img th:src="@{/img/img-construction-barrier.png}">
		</div>
	</div>
	
	<div class="err-msg-group center">
	    <p><strong th:text="${ERROR.MSG}"></strong></p>
	</div>
	
	<div class="btn-group center">
		<button type="button" class="btn btn-dark" id="search-btn" onclick="history.back()">돌아가기</button>
	</div>
</section>
</html>