@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

article {
	box-sizing: border-box;
    width: 1000px;
    height: auto;
    /* height: 1000px; */
    background-color: #FFF;
    margin: 20px auto;
    padding: 10px;
}

#article-board-main {
	display: block;
}

#article-title {
	width: 100%;
	font-family: "Bebas Neue", sans-serif;
	color: #000;
	font-size: 3rem;
	text-align: center;
}

#table-list {
	width: 100%;
}

#btn-grp {
	text-align: right;
	margin-top: 10px;
}

#write-title {
	margin-bottom: 5px;
}

#read-title {
	margin-left: 20px;
}

#login {
    margin-top: 10px;
    width: 100%;
}

#access-denied-home > p {
	width: 100%;
	text-align: center;
}

#editor {
	padding-left: 20px;
}

/* 게시글 썸네일 */
#thumbnail {
	display: block;
}

#thumbnail-preview {
	display: none;
	height: 200px;
	margin-bottom: 10px;
}

#thumbnail-wrap {
	width: 100%;
	display: flex;
	justify-content: center;
}

#thumbnail-home-notice, #thumbnail-home-study, #thumbnail-home-photo, #thumbnail-home-music, #thumbnail-home-daily {
	box-sizing: border-box;
    width: 1000px;
    height: 265px;
    background-color: #FFF;
    margin: 20px auto;
    padding: 10px;
}

.thumbnail-item {
	width: 32%;
	text-align: left;
}

.thumbnail-item > a {
	text-align: left;
	color: #000;
	font-weight: bold;
}

.thumbnail-item > a > span {
	font-family: 'Pretendard-Regular';
}

.thumbnail-item > a > img {
	display: block;
	width: 95%;
	height: 60%;
	object-fit: cover;
}

.thumbnail-item > p, .rss-item > p > span {
    color: gray;
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 0;
}

.thumbnail-item > p {
    width: 100%;
}

.rss-item > p > span {
    width: 110px;
}

.thumbnail-home-title {
	width: 100%;
	font-family: "Bebas Neue", sans-serif;
	color: #000;
	font-size: 2rem;
	text-align: left;
	margin-bottom: 0;
	height: 40px;
}

.thumbnail-contents-wrap {
	width: 100%;
	display: flex;
	justify-content: start;
}

.rss-contents-wrap {
	width: 100%;
	display: block;
	margin: 10px 0 10px 0;
}

.rss-item {
	width: 100%;
	text-align: left;
}

.rss-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rss-contents-error {
	width: 100%;
	text-align: center;
}

#thumbnail-home-study {
	height: auto;
}