@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MapoDPPA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	font-family: 'Pretendard-Regular';
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1 {
	padding-top: 80px;
}

h4 {
	padding: 25px;
	display: inline;
}

body {
	height: 100%;
}

iframe {
	display: none;
}

/* 홈화면 레인보우 텍스트 효과 */
.rainbow {
    position: relative;
    overflow: hidden;
    background: linear-gradient(270deg, red, orange, yellow, green, blue, violet, indigo);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}