@charset "UTF-8";

footer {
    box-sizing: border-box;
    height: 100px;
    padding-top: 10px;
    text-align: center;
    background-color : rgb(0,0,0,0.5);
    display: block;
}

footer > p {
	color: #ECDFCC !important;
}

/*
#footer-logo {
	margin: 10px auto;
}
*/

#footer-links > a > span {
	color: #ECDFCC;
}

#footer-links > a {
	margin-right: 10px;
}

#footer-links > p {
	margin-bottom: -5px;
}

#footer-title {
	text-transform: uppercase;
	color: #FFF;
	font-size: 1rem;
}