@charset "UTF-8";

footer {
    box-sizing: border-box;
    height: 95px;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color : rgb(0,0,0,0.2);
    display: block;
}

footer > p {
	color: #333 !important;
	font-size: small;
}

/*
#footer-logo {
	margin: 10px auto;
}
*/

#footer-links {
	margin-bottom: 5px;
}

#footer-links > a > span {
	color: #FFF;
}

#footer-links > a {
	margin-right: 10px;
}

#footer-title {
	text-transform: uppercase;
	color: #FFF;
	font-size: 1rem;
}