@charset "UTF-8";

footer {
	box-sizing: border-box;
	height: 190px;
	padding-top: 10px;
	text-align: center;
	/* background-color: #f15a22; */
	background-color : rgb(255,255,255,0.5);
	display: block;
	/* margin-top: 250px; */
	position: relative;
	bottom: 0;
}

footer > p {
	color: #000 !important;
}

/*
#footer-logo {
	margin: 10px auto;
}
*/

#footer-links > a > span {
	font-family: "Bebas Neue", sans-serif;
	color: #000;
	font-size: 3rem;
}

#footer-links > a {
	margin-right: 10px;
}

#footer-links > p {
	margin-bottom: -5px;
}

#footer-title {
	text-transform: uppercase;
	font-family: "Bebas Neue", sans-serif;
	color: #FFF;
	font-size: 3rem;
}