@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/blinking-2');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

header {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    /* background-color: #000; */
    background-color : rgb(255,255,255,0.2);
    display: flex !important;
    align-items: center;
    z-index: 1001;
}

/* 로고 이미지 */
#header-logo {
    height: 35px;
}

/* 로고 이미지 대신 사용할 문구 */
#header-name {
	text-transform: uppercase;
	font-family: 'NotoSerifKR';
	font-size: 2rem;
	color: #3C3D37;
}

/* 좌측 사이드바 */
#header-sidebar {
	box-sizing: border-box;
	width: 0;
	height: 100%;
	top: 70px;
	left: 0;
	position: absolute;
	overflow-x: hidden;
	padding-top: 30px;
	/* background-color: #f15a22; */
	/* background-color : rgb(255,255,255, 1); */
	background-image: url("https://images.unsplash.com/photo-1600172454132-ada7faa101cf?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	transition: 0.2s;
	z-index: 1001;
    background-position-y: bottom;
    background-position-x: center;
}

#header-sidebar > a {
	display: block;
	width: 100%;
	color: #1E201E;
	/* font-family: "Bebas Neue", sans-serif; */	/* footer 글씨체 */
	font-family: 'NotoSerifKR';
	font-size: 2rem;
}

#header-sidebar.open {
    width: 270px;
    padding-left: 40px;
}

/* 토글 */
#header-hamburger-btn {
    cursor: pointer;
    color: #3C3D37;
    width: 2rem;
    height: 2rem;
    margin: 5px 0 0 15px;
}

/* 토글 클릭 시 뒷 화면 */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 1000;
	transition: 0.5s;
	cursor: pointer;
}