@charset "UTF-8";

@media (max-width: 768px) {
	article {
	    width: 90%;
	    height: auto;
	    margin: 20px auto;
	}
	
	main {
		height: auto;
	}
	
	#header-hamburger-btn {
	    height: 20px;
	    cursor: pointer;
	    padding: 0 15px 0px 15px;
	    margin: 10px 0 0 5px;
	}

	#header-logo {
	    margin-top: 5px;
	}

	#header-sidebar.open {
		width: 100%;
		padding-left: 35px;
	}
	
	#header-sidebar > a {
		font-size: 3rem;
	}
	
	footer {
		height: 90px;
		padding-top: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	#footer-links > a {
		width: 100%;
	}
	
	#footer-links > a > span {
		font-size: 25px;
	}
	
	/* 모바일 일 때 숨김 처리 */
	.mobile-hide {
		display: none;
	}
	
	#thumbnail-home-notice, #thumbnail-home-study, #thumbnail-home-photo, #thumbnail-home-music, #thumbnail-home-daily {
	    width: 90%;
	    height: auto;
	    margin: 20px auto;
	}
	
	.thumbnail-contents-wrap {
		display: block;
	}
	
	.thumbnail-item {
		width: 100%;
	}
	
	.thumbnail-item > a > img {
		width: 100%;
		height: auto;
	}
	
	#thumbnail-preview {
		width: 100%;
		height: 100%;
		padding: 0 20px 0 20px;
	}
	
	.rss-contents {
		font-size: 12px;
	}
	
	#movie-wrap > iframe {
	    width: 83vw;
	    height: 33vh;
	}
}