@charset "UTF-8";

@media (max-width: 768px) {
	article {
		width: 90%;
        height: auto;
        margin: 20px auto;
	}

	#header-logo {
	    margin-top: 5px;
	}

	#header-sidebar.open {
		width: 100%;
		padding-left: 35px;
	}
	
	#header-sidebar > a {
		font-size: 2.5rem;
	}
	
	footer {
		height: 115px;
		padding-top: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	#footer-links > a {
		width: 100%;
	}
	
	/* 모바일 일 때 숨김 처리 */
	.mobile-hide {
		display: none;
	}
	
	#thumbnail-home-notice, #thumbnail-home-study, #thumbnail-home-photo, #thumbnail-home-music, #thumbnail-home-daily {
	    width: 90%;
	    height: auto;
	    margin: 20px auto;
	}
	
	.thumbnail-contents-wrap {
		display: block;
	}
	
	.thumbnail-item {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.thumbnail-item > a > img {
		width: 100%;
		height: 200px;
		margin-bottom: 10px;
	}
	
	#thumbnail-preview {
		width: 100%;
		height: 100%;
		padding: 0 20px 0 20px;
	}
	
	.rss-contents {
		font-size: 12px;
	}
	
	.rss-contents > a {
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    width: 75%;
	}
	
	#movie-wrap > iframe {
		width: 100%;
        height: 200px;
	}
	
	#genre {
	    width: 90%;
	}
	
	footer > p {
	    font-size: 10px;
	    font-weight: bold;
	}
	
	/* CKEditor5 모바일 이미지 사이즈 */
	.image > img {
		width: 100%;
	}
	
	/*
	#read-top-wrap {
		display: flex;
		flex-wrap: wrap;
	}
	*/
	
	.thumbnail-item > p {
		text-align: left;
	}
	
	.thumbnail-item > a > span {
		margin-top: 0px;
		font-size: 10px;
	}
	.thumbnail-item > p, .rss-item > p > span, #read-created-at {
		width: 70px;
		font-size: 10px;
	}
	
	#read-title {
		font-size: 11px;
	}
	
	table {
		font-size: 11px;
	}
	
	#editor {
		font-size: 12px;
	}
	
	.pagination {
		font-size: 10px;
	}
	
	.bottom-post-title {
		width: 65px;
	}
	
	#article-home > p {
		font-size: 12px;
	}
	
	.thumbnail-item-info {
    	opacity: 1;
    	height: auto;
    	width: auto;
	}
}

@media (max-width: 960px) {
	article {
		width: 90%;
	}
	
	#thumbnail-home-notice, #thumbnail-home-study, #thumbnail-home-photo, #thumbnail-home-music, #thumbnail-home-daily {
	    width: 90%;
	}
	
	#article-board-main {
	    width: 90%;
	}
	
	.thumbnail-item.home > a > img {
		height: 200px;
	}
	
	.thumbnail-item > a > img {
		height: 230px;
	}
	
	#thumbnail-home-notice, #thumbnail-home-study, #thumbnail-home-photo, #thumbnail-home-music, #thumbnail-home-daily {
		/* height: 255px; */
	}
	
	.thumbnail-item-info {
		height: auto;
	}
}