<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="article">
<style>main {height: 100%;}</style>
<section>
	<div class="container">
		<div class="home-wrap">
			<div class="page-title">
				<div class="container">
					<h3>ABOUT ME</h3>
				</div>
			</div>
			<img th:src="@{/img/img-abuotme.jpg}" id="profile-img" class="mb-50" alt="프로필 사진">
            <div class="qna">
                <div class="item">
                    <p class="left bold">Q. 이름</p>
                    <p class="left">A. 이주영</p>
                </div>
                <div class="item">
                    <p class="left bold">Q. 직업</p>
                    <p class="left">A. 백엔드 개발자(재직 중)</p>
                </div>
                <div class="item">
                    <p class="left bold">Q. MBTI</p>
                    <p class="left">A. INTP</p>
                </div>
                <div class="item">
                    <p class="left bold">Q. 개인 목표</p>
                    <p class="left">A. 열심히 살기</p>
                </div>
                <div class="item">
                    <p class="left bold">Q. 취미 및 관심사</p>
                    <p class="left">A. 넷플릭스/음악 감상</p>
                </div>
                <div class="item">
                    <p class="left bold">Q. 최근 도전해본 일</p>
                    <p class="left">A. 없는 것 같다.</p>
                </div>
                <div class="item">
                    <p class="left bold">Q. 영감이 되는 사람 또는 책</p>
                    <p class="left">A. 계획은 실행하면서 다듬어라 -니체-</p>
                </div>
                <div class="item">
                    <p class="left bold">Q. 간단한 경력</p>
                    <p class="left">A. 7년 간 해태제과 근무 이력</p>
                </div>
                <div class="item">
                    <p class="left bold">Q. 즐겨보는 것들</p>
                    <p class="left">A. 음악 플레이리스트 영상/게임 공략 영상</p>
                </div>
                <div class="item">
                    <p class="left bold">Q. 홈페이지 용도</p>
                    <p class="left">A. 네이버 블로그 대신 사용 중</p>
                </div>
                <div class="item">
                    <p class="left bold">Q. 방문자에게 전하는 말</p>
                    <p class="left">A. 안녕하세요..</p>
                </div>
            </div>
        </div>
    </div>
</section>
</html>