<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="article">

<section class="notice">
	<div class="page-title">
		<div class="container">
			<h3 style="color: #d1180b; font-weight: bold">403 FORBIDDEN</h3>
		</div>
	</div>
	
	<div class="err-msg-group center">
	    <p><strong>접근이 거부되었습니다.</strong></p>
	    <p><strong>해당 페이지 권한이 없습니다.</strong></p>
	</div>
	
	<div class="btn-group center">
		<button type="button" class="btn btn-dark" id="search-btn" onclick="history.back()">돌아가기</button>
	</div>
</section>
</html>