<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="favicon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/css/codepen/linux-theme.css}">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <title>Lee Ju Young</title>
</head>
<section>
	<div class="console">
		permission access denied...
	</div>
</section>
</html>