<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="favicon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/css/non-fragment.css}">
    <title>이주영 개인 홈페이지</title>
</head>
<section>
	<h1>ALERT</h1>
	<h3>PERMISSION ACCESS DENIED</h3>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/cmmn.js}"></script>
</html>