<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="section">
<style>
	#daysElapsed {font-size: 20px;}
	ul {list-style: none;}
	.new-icon {display: inline-block; width: 25px; height: 15px; line-height: 15px; font-size: 8px; text-align: center;}
</style>
<section>
	<div class="container">
		<div class="home-wrap">
			<img th:src="@{/img/img-raspberry.png}" id="profile-img" alt="프로필 사진">
			<p><span id="daysElapsed"></span> 일 째 돌아가는 중</p>
			<p>배포 일자 : <span id="startDate"></span></p>
			<p>현재 일자 : <span id="currentDate"></span></p>
		</div>
		
		<div class="home-contents-wrap">
			<h1>📕 LATEST BLOG POSTS</h1>
		</div>
	</div>
</section>
<script>
$(document).ready(function() {
    let startDate = new Date('2024-09-24T00:00:00');
	// let $guideBar = $('.guide-bar');
	// $guideBar.css('display', 'none');
	
	setInterval(function() {
		$('.new-icon').toggleClass('new-icon-dynamic');
	}, 800);
	
    function updateDays() {
	    let currentDate = new Date();
        let timeDifference = currentDate - startDate;
        let daysElapsed = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
        
        $('#daysElapsed').html(daysElapsed);
    }
	
    function updateCurrentTime() {
	    let currentDate = new Date();
	    
        $('#currentDate').html(formatDate(currentDate));
    }
    
    updateDays();
    $('#startDate').html(formatDate(startDate));
    setInterval(updateCurrentTime, 1000);
    
    getRss();
});

function formatDate(date) {
    let year = date.getFullYear();
    let month = (date.getMonth() + 1).toString().padStart(2, '0');
    let day = date.getDate().toString().padStart(2, '0');
    let hours = date.getHours().toString().padStart(2, '0');
    let minutes = date.getMinutes().toString().padStart(2, '0');
    let seconds = date.getSeconds().toString().padStart(2, '0');
    
    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
}

// JSON
function formatDate2(date) {
    let newDate = new Date(date);
    return newDate.toISOString().split('T')[0];
}

function getRss() {
	$.ajax({
		type		: 'GET',
		url			: '/board/rss',
		contentType	: 'application/x-www-form-urlencoded',
		success		: (data) => {
			let result = data.RSS;
			let html = '';
			
			html += '<ul>';
			
			result.forEach((item, idx) => {
				let date = formatDate2(item.CREATED_AT);
				let itemDate = new Date(item.CREATED_AT);
				let now = new Date();
				
				now.setHours(0, 0, 0, 0);
				
				let threeDaysAgo = new Date(now);
				
				threeDaysAgo.setDate(now.getDate() - 3);
				
				let isNew = itemDate >= threeDaysAgo;
				
				if(isNew) {
					html += `<li>[${date}] <a href='${item.LINK}' target='_blank'>${item.TITLE}</a><span class="new-icon">NEW</span></li>`;
				} else {
					html += `<li>[${date}] <a href='${item.LINK}' target='_blank'>${item.TITLE}</a></li>`;
				}
				
			});
			
			html += '</ul>';
			
			$('.home-contents-wrap').append(html);
		}, error	: (err) => {
			console.log('err = ', err);
		}
	})
}
</script>
</html>