<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default-layout}"
      layout:fragment="article">
<style>
	main { margin-bottom: 0; }
	.thumbnail-item > a > img {	width: 100%; }
</style>

<div id="thumbnail-home-notice" class="card-2">
	<p class="thumbnail-home-title">NOTICE</p>
	<div class="rss-contents-wrap">
		<th:block th:each="data : ${DATA}">
			<div class="rss-item" th:if="${data.ICODE == 'B001'}">
				<p class="rss-contents">
					<a th:href="@{/board/read-md(iboard = ${data.IBOARD})}">
						<span th:text="${data.TITLE}"></span>
						<span th:if="${data.IMG_YN eq 'Y'}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
							  <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
							  <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"/>
							</svg>
						</span>
					</a>
					<span th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd')}"></span>
				</p>
			</div>
		</th:block>
	</div>
</div>

<div id="home-fold-contents-wrap">
	<div id="thumbnail-home-study" class="card-2 fold">
		<p class="thumbnail-home-title">STUDY(RSS)</p>
		<div class="rss-contents-wrap">
			<th:block th:if="${RESULT == 1}" th:each="rss : ${RSS}">
					<div class="rss-item">
						<p class="rss-contents">
							<a th:href="${rss.link}" target="_blank"><span th:text="${rss.title}"></span></a>
							<span th:text="${#dates.format(rss.date, 'yyyy-MM-dd')}"></span>
						</p>
					</div>
			</th:block>
			
			<th:block th:if="${RESULT == -4}">
					<div class="rss-item">
						<p class="rss-contents-error">
							<span>RSS를 불러올 수 없습니다.</span>
						</p>
					</div>
			</th:block>
		</div>
	</div>

	<div id="thumbnail-home-study" class="card-2 fold">
		<p class="thumbnail-home-title">PHOTO</p>
		<div class="rss-contents-wrap">
			<th:block th:each="data : ${DATA}">
				<div class="rss-item" th:if="${data.ICODE == 'B003'}">
					<p class="rss-contents">
						<a th:href="@{/board/read-md(iboard = ${data.IBOARD})}">
							<span th:text="${data.TITLE}"></span>
							<span th:if="${data.IMG_YN eq 'Y'}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
								  <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
								  <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"/>
								</svg>
							</span>
						</a>
						<span th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd')}"></span>
					</p>
				</div>
			</th:block>
		</div>
	</div>
	
	<div id="thumbnail-home-study" class="card-2 fold">
		<p class="thumbnail-home-title">MUSIC</p>
		<div class="rss-contents-wrap">
			<th:block th:each="data : ${DATA}">
				<div class="rss-item" th:if="${data.ICODE == 'B004'}">
					<p class="rss-contents">
						<a th:href="@{/board/read-md(iboard = ${data.IBOARD})}"><span th:text="${data.TITLE}"></span></a>
						<span th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd')}"></span>
					</p>
				</div>
			</th:block>
		</div>
	</div>
	
	<div id="thumbnail-home-study" class="card-2 fold">
		<p class="thumbnail-home-title">DAILY</p>
		<div class="rss-contents-wrap">
			<th:block th:each="data : ${DATA}">
				<th:block th:if="${data.ICODE == 'B005'}">
					<div class="rss-item">
						<p class="rss-contents">
							<a th:href="@{/board/read-md(iboard = ${data.IBOARD})}">
								<span th:text="${data.TITLE}"></span>
								<span th:if="${data.IMG_YN eq 'Y'}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
									  <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
									  <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"/>
									</svg>
								</span>
							</a>
							<span th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd')}"></span>
						</p>
					</div>
				</th:block>
			</th:block>
		</div>
	</div>
</div>

<!--
<div id="thumbnail-home-photo" class="card-2">
	<p class="thumbnail-home-title">PHOTO</p>
	<div class="thumbnail-contents-wrap">
		<th:block th:each="data : ${DATA}">
			<th:block th:if="${data.icode == 'B003'}">
				<div class="thumbnail-item home">
					<p th:text="${#dates.format(data.created_at, 'yyyy-MM-dd')}"></p>
					<a th:href="@{/board/read-md(iboard = ${data.iboard})}">
						<th:block th:if="${data.NAME == ''}">
							<img th:src="@{/img/img-noimage.png}" alt="썸네일">
						</th:block>
						<th:block th:if="${data.NAME != ''}">
							<img th:src="${data.NAME}" alt="썸네일">
						</th:block>						
					</a>
					<a th:href="@{/board/read-md(iboard = ${data.iboard})}"><span th:text="${data.title}"></span></a>
				</div>
			</th:block>
		</th:block>
	</div>
</div>
-->
</html>