<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="article">
<style>
	main {height: 100vh;}
	section {padding: 120px 0;}
	footer {margin-top: 0;}
	#daysElapsed {font-size: 40px;}
</style>
<section>
	<div class="container">
		<div class="home-wrap">
			<img th:src="@{/img/img-raspberry.png}" id="profile-img" class="mb-50" alt="프로필 사진">
			<p><span id="daysElapsed"></span> 일 째 돌아가는 중</p>
			<p>배포 일자 : <span id="startDate"></span></p>
			<p>현재 일자 : <span id="currentDate"></span></p>
		</div>
	</div>
</section>
<script>
$(document).ready(function() {
    let startDate = new Date('2024-09-24T00:00:00');
	let $guideBar = $('.guide-bar');
	$guideBar.css('display', 'none');
	
    function updateDays() {
	    let currentDate    = new Date();
        let timeDifference = currentDate - startDate;
        let daysElapsed    = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
        
        $('#daysElapsed').html(daysElapsed);
    }
	
    function updateCurrentTime() {
	    let currentDate = new Date();
	    
        $('#currentDate').html(formatDate(currentDate));
    }
    
    updateDays();
    $('#startDate').html(formatDate(startDate));
    setInterval(updateCurrentTime, 1000);
});

function formatDate(date) {
    let year    = date.getFullYear();
    let month   = (date.getMonth() + 1).toString().padStart(2, '0');
    let day     = date.getDate().toString().padStart(2, '0');
    let hours   = date.getHours().toString().padStart(2, '0');
    let minutes = date.getMinutes().toString().padStart(2, '0');
    let seconds = date.getSeconds().toString().padStart(2, '0');
    
    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
}
</script>
</html>