<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="favicon" href="/favicon.ico" />
	<link rel="stylesheet" th:href="@{/css/non-fragment.css}">
	<link rel="stylesheet" th:href="@{/css/codepen/index.css}">
    <title>이주영 개인 홈페이지</title>
</head>
<body>
    <div id="space">
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
    </div>
</body>

<div class="ufo">
    <img src="https://sahilshukla279.github.io/hosted-assest/ufo.png" >
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/cmmn.js}"></script>
<script>
	$('.ufo').click(function() {
		location.href = '/home';
	});
</script>
</html>