<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="article">
<link rel="stylesheet" th:href="@{/css/codepen/login.css}">
<style>
	main {height: 85vh;}
</style>
<section>
	<div class="page-title">
		<div class="container">
			<h3>LOGIN</h3>
		</div>
	</div>

	<div class="login-wrap">
		<form class="form" id="form">
			<input type="text" id="id" name="id" placeholder="아이디" />
			<input type="password" id="pw" name="pw" placeholder="패스워드" />
			<button type="button" class="btn btn-dark" id="login">로그인</button>
		</form>
	</div>
</section>

<script type="text/javascript">
    $(document).ready(function(e) {
        $(document).on('keydown', function(e) {
            if (e.key == 'Enter') {
                login();
            }
        });

        $('#login').click(function() {
            login();
        });
    });

    function login() {
        let id = $('#id');
        let pw = $('#pw');

        if (id.val().trim() == '') {
            alert('아이디를 입력해주세요.');
            id.focus();
            return;
        } else if (pw.val().trim() == '') {
            alert('패스워드를 입력해주세요.');
            pw.focus();
            return;
        } else {
        	console.log('submit');
        	$('#form').attr('method', 'POST');
            $('#form').submit();
        }
    }
</script>

</html>