<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="section">
<link rel="stylesheet" th:href="@{/css/codepen/login.css}">
<style>
section {height: 60vh;}
</style>
<section>
	<form id="form">
		<input type="text" id="id" name="id" placeholder="ID">
		<input type="password" id="pw" name="pw" placeholder="PASSWORD">
		<button type="button">LOGIN</button>
	</form>
</section>
<script th:src="@{/js/cmmn.js}"></script>
<script th:src="@{/js/login.js}"></script>
</html>