<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default-layout}" layout:fragment="section">
<section>
	<div class="container">
		<div class="home-wrap">
			<div class="page-title">
				<div class="container">
					<h3>PORTFOLIO</h3>
				</div>
			</div>
			<div class="page-title">
				<div class="container">
					<img th:src="@{/img/img-hammer-and-wrench.png}" id="profile-img" class="mb-50" alt="망치와 렌치 아이콘">
					<p class="home-title">TECK-STACK</p>
					<p class="home-title sub">BACK-END</p>
					<p>Java, Spring, Spring Boot, Mybatis, Thymeleaf, JSP, Restful API(JSON)</p>
					<p class="home-title sub">DATABASE</p>
					<p>MariaDB, MSSQL, PostgreSQL</p>
					<p class="home-title sub">LINUX OS</p>
					<p>Rocky Linux, Debian</p>
					<p class="home-title sub">ETC</p>
					<p>Oralce VM Virtual Box, RaspberryPI5, Docker</p>
				</div>
			</div>
			
			<div class="page-title">
				<div class="container m-0">
					<p class="home-title">PORTFOLIO</p>
					<p class="home-title sub">설문조사 프로젝트</p>
					<img th:src="@{/img/portfolio/p_survey_1.png}" class="pf-img" alt="포트폴리오">
					<img th:src="@{/img/portfolio/p_survey_2.png}" class="pf-img" alt="포트폴리오">
					<img th:src="@{/img/portfolio/p_survey_3.png}" class="pf-img" alt="포트폴리오">
					<img th:src="@{/img/portfolio/p_survey_4.png}" class="pf-img" alt="포트폴리오">
					<img th:src="@{/img/portfolio/p_survey_5.png}" class="pf-img" alt="포트폴리오">
					<ul class="ul-1000">
						<li>게시판 첨부파일 등록</li>
						<li>사진 게시판 게시글 등록 시 대표 이미지(썸네일) 지정 기능</li>
						<li>게시판 / 사진 게시판 검색 기능</li>
						<li>관리자 권한 설문조사 등록 및 통계 차트 출력</li>
					</ul>
					
					<p class="home-title sub">플레이리스트 추천 프로젝트</p>
					<img th:src="@{/img/portfolio/p_playlist_1.png}" class="pf-img w-1000" alt="포트폴리오">
					<img th:src="@{/img/portfolio/p_playlist_2.png}" class="pf-img w-1000" alt="포트폴리오">
					<img th:src="@{/img/portfolio/p_playlist_3.png}" class="pf-img w-1000" alt="포트폴리오">
					<img th:src="@{/img/portfolio/p_playlist_4.png}" class="pf-img w-1000" alt="포트폴리오">
					<ul class="ul-1000">
						<li>Youtube V3 API를 통한 동영상 검색 기능</li>
						<li>유튜브 URL을 통한 동영상 등록 기능</li>
						<li>이메일 인증번호 발송 기능</li>
					</ul>
					
					<p class="home-title sub">가계부 프로젝트</p>
					<img th:src="@{/img/portfolio/p_accountbook_1.png}" class="pf-img w-1000" alt="포트폴리오">
					<img th:src="@{/img/portfolio/p_accountbook_2.png}" class="pf-img w-1000" alt="포트폴리오">
					<img th:src="@{/img/portfolio/p_accountbook_3.png}" class="pf-img w-1000" alt="포트폴리오">
					<ul class="ul-1000">
						<li>통계 차트 출력 기능</li>
						<li>타사용자와의 비고정지출 평균 비교 기능</li>
						<li>게시판 기능</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!--
<div id="rss-contents-wrap">
    <div id="thumbnail-home-study" class="card-2">
        <p class="thumbnail-home-title">STUDY</p>
        <div class="rss-contents-wrap">
            <th:block th:if="${RESULT == 1}" th:each="rss : ${RSS}">
                <div class="rss-item">
                    <p class="rss-contents">
                        <a th:href="${rss.link}" target="_blank"><img width="15" height="15" src="https://img.icons8.com/material-rounded/24/1A1A1A/rss.png" alt="rss" /><span th:text="${rss.title}"></span></a>
                        <span class="mobile-hide" th:text="${#dates.format(rss.date, 'yyyy-MM-dd')}"></span>
						</p>
					</div>
			</th:block>
			
			<th:block th:if="${RESULT == -4}">
					<div class="rss-item">
						<p class="rss-contents-error">
							<span>RSS를 불러올 수 없습니다.</span>
						</p>
					</div>
			</th:block>
		</div>
	</div>

	<div id="thumbnail-home-study" class="card-2">
		<p class="thumbnail-home-title">PHOTO</p>
		<div class="rss-contents-wrap">
			<th:block th:each="data : ${DATA}">
				<div class="rss-item" th:if="${data.ICODE == 'B003'}">
					<p class="rss-contents">
						<a th:href="@{/board/read-md(iboard = ${data.IBOARD})}">
							<span th:if="${data.IMG_YN eq 'Y'}">
								<img width="15" height="15" src="https://img.icons8.com/material-rounded/24/1A1A1A/slr-camera.png" alt="slr-camera"/>
							</span>
							<span th:if="${data.IMG_YN eq 'N'}">
								<img width="15" height="15" src="https://img.icons8.com/ios-glyphs/30/1A1A1A/speech-bubble--v1.png" alt="speech-bubble--v1"/>
							</span>
							
							<span th:text="${data.TITLE}"></span>
						</a>
						<span class="mobile-hide" th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd')}"></span>
					</p>
				</div>
			</th:block>
		</div>
	</div>
	
	<div id="thumbnail-home-study" class="card-2">
		<p class="thumbnail-home-title">MUSIC</p>
		<div class="rss-contents-wrap">
			<th:block th:each="data : ${DATA}">
				<div class="rss-item" th:if="${data.ICODE == 'B004'}">
					<p class="rss-contents">
						<a th:href="@{/board/read-md(iboard = ${data.IBOARD})}">
							<img width="15" height="15" src="https://img.icons8.com/material-sharp/24/1A1A1A/music.png" alt="music"/>
							<span th:text="${data.TITLE}"></span>
						</a>
						<span class="mobile-hide" th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd')}"></span>
					</p>
				</div>
			</th:block>
		</div>
	</div>
	
	<div id="thumbnail-home-study" class="card-2">
		<p class="thumbnail-home-title">DAILY</p>
		<div class="rss-contents-wrap">
			<th:block th:each="data : ${DATA}">
				<th:block th:if="${data.ICODE == 'B005'}">
					<div class="rss-item">
						<p class="rss-contents">
							<a th:href="@{/board/read-md(iboard = ${data.IBOARD})}">
								<span th:if="${data.IMG_YN eq 'Y'}">
									<img width="15" height="15" src="https://img.icons8.com/material-rounded/24/1A1A1A/slr-camera.png" alt="slr-camera"/>
								</span>
								<span th:if="${data.IMG_YN eq 'N'}">
									<img width="15" height="15" src="https://img.icons8.com/ios-glyphs/30/1A1A1A/speech-bubble--v1.png" alt="speech-bubble--v1"/>
								</span>
								<span th:text="${data.TITLE}"></span>
							</a>
							<span class="mobile-hide" th:text="${#dates.format(data.CREATED_AT, 'yyyy-MM-dd')}"></span>
						</p>
					</div>
				</th:block>
			</th:block>
		</div>
	</div>
</div>
-->
</html>