<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.homepage.board.BoardMapper">
	<insert id="boardInsert" useGeneratedKeys="true" keyColumn="iboard" parameterType="map">
	INSERT INTO tbl_board(ICODE, IADMIN, TITLE, CONTENTS, YOUTUBE_ID, GENRE) VALUES(#{icode}, '1', #{title}, #{contents}, #{youtube_id}, #{genre})
	<selectKey keyProperty="iboard" resultType="integer">
	SELECT LAST_INSERT_ID()
	</selectKey>
	</insert>
	
	<select id="boardGet" parameterType="map" resultType="map">
	SELECT A.IBOARD, A.ICODE, A.TITLE, (SELECT NAME FROM tbl_code WHERE ICODE = A.GENRE) GENRE, IFNULL(C.NAME, '') TUMBNAIL, A.CREATED_AT
	FROM tbl_board A
	INNER JOIN tbl_code B
	ON A.ICODE = B.ICODE
	LEFT JOIN tbl_thumbnail C
	ON A.IBOARD = C.IBOARD
	WHERE A.DEL_YN = 'N' AND A.ICODE = #{code}
	ORDER BY A.IBOARD DESC
	LIMIT #{offset}, #{amount}
	</select>
	
	<select id="boardGetCnt" parameterType="map" resultType="int">
	SELECT COUNT(*)
	FROM tbl_board
	WHERE DEL_YN = 'N' AND ICODE = #{code}
	ORDER BY CREATED_AT DESC
	</select>
	
	<select id="boardSelect" parameterType="map" resultType="map">
	SELECT A.IBOARD AS iboard, A.ICODE AS icode, IFNULL(A.genre, '') AS genre_code, IFNULL((SELECT NAME FROM tbl_code WHERE icode = A.genre), '') AS genre_name, A.IADMIN AS iadmin, A.TITLE AS title, A.CONTENTS AS contents, IFNULL(A.YOUTUBE_ID, "") AS youtube_id, A.CREATED_AT AS created_at, B.ITHUMBNAIL AS ithumbnail, B.NAME AS name
	FROM tbl_board A
	LEFT JOIN tbl_thumbnail B
	ON A.iboard = B.iboard
	WHERE A.iboard = #{iboard}
	</select>
	
	<update id="boardDelete" parameterType="string">
	UPDATE tbl_board SET DEL_YN = 'Y' WHERE IBOARD = #{iboard}
	</update>
	
	<update id="boardUpdate" parameterType="map">
	UPDATE tbl_board SET
	TITLE = #{title},
	CONTENTS = #{contents},
	YOUTUBE_ID = #{youtube_id},
	GENRE = #{genre}
	WHERE IBOARD = #{iboard}
	</update>
	
	<insert id="thumbnailInsert" parameterType="map">
	INSERT INTO tbl_thumbnail(IBOARD, NAME) VALUES(#{iboard}, #{name})
	</insert>
	
	<select id="boardGenreGet" resultType="map">
	SELECT ICODE, NAME
	FROM tbl_code
	WHERE ICODE LIKE '%C%'
	</select>
	
	<select id="prevPostGet" resultType="map">
	SELECT iboard, icode, title, genre, created_at
	FROM tbl_board
	WHERE iboard <![CDATA[ < ]]> #{iboard} AND icode = (SELECT icode FROM tbl_board WHERE iboard = #{iboard}) AND del_yn = 'N'
	ORDER BY iboard DESC
	LIMIT 1
	</select>
	
	<select id="nextPostGet" resultType="map">
	SELECT iboard, icode, title, genre, created_at
	FROM tbl_board
	WHERE iboard <![CDATA[ > ]]> #{iboard} AND icode = (SELECT icode FROM tbl_board WHERE iboard = #{iboard}) AND del_yn = 'N'
	ORDER BY iboard ASC
	LIMIT 1
	</select>
</mapper>