<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.homepage.board.BoardMapper">
	<insert id="boardInsert" useGeneratedKeys="true" keyColumn="iboard" parameterType="map">
	INSERT INTO tbl_board(ICODE, IADMIN, TITLE, CONTENTS, YOUTUBE_ID) VALUES(#{icode}, '1', #{title}, #{contents}, #{youtube_id})
	<selectKey keyProperty="iboard" resultType="integer">
	SELECT LAST_INSERT_ID()
	</selectKey>
	</insert>
	
	<select id="boardGet" parameterType="map" resultType="map">
	SELECT IBOARD, ICODE, TITLE, CREATED_AT
	FROM tbl_board
	WHERE DEL_YN = 'N' AND ICODE = #{code}
	ORDER BY CREATED_AT DESC
	LIMIT #{offset}, #{amount}
	</select>
	
	<select id="boardGetCnt" parameterType="map" resultType="int">
	SELECT COUNT(*)
	FROM tbl_board
	WHERE DEL_YN = 'N' AND ICODE = #{code}
	ORDER BY CREATED_AT DESC
	</select>
	
	<select id="boardSelect" parameterType="map" resultType="map">
	SELECT A.IBOARD AS iboard, A.ICODE AS icode, A.IADMIN AS iadmin, A.TITLE AS title, A.CONTENTS AS contents, IFNULL(A.YOUTUBE_ID, "") AS youtube_id, A.CREATED_AT AS created_at, B.ITHUMBNAIL AS ithumbnail, B.NAME AS name
	FROM tbl_board A
	LEFT JOIN tbl_thumbnail B
	ON A.iboard = B.iboard
	WHERE A.iboard = #{iboard}
	</select>
	
	<update id="boardDelete" parameterType="string">
	UPDATE tbl_board SET DEL_YN = 'Y' WHERE IBOARD = #{iboard}
	</update>
	
	<update id="boardUpdate" parameterType="map">
	UPDATE tbl_board SET
	TITLE = #{title},
	CONTENTS = #{contents},
	YOUTUBE_ID = #{youtube_id}
	WHERE IBOARD = #{iboard}
	</update>
	
	<insert id="thumbnailInsert" parameterType="map">
	INSERT INTO tbl_thumbnail(IBOARD, NAME) VALUES(#{iboard}, #{name})
	</insert>
</mapper>