<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.homepage.home.HomeMapper">
	<select id="latestPostGet" parameterType="map">
	(
	SELECT *
	FROM tbl_board A
	LEFT JOIN tbl_thumbnail B
	ON A.iboard = B.iboard
	WHERE A.icode = 'B001' AND A.del_yn = 'N'
	ORDER BY A.CREATED_AT DESC
	LIMIT 10
	)
	UNION ALL
	(
	SELECT *
	FROM tbl_board A
	LEFT JOIN tbl_thumbnail B
	ON A.iboard = B.iboard
	WHERE A.icode = 'B003' AND A.del_yn = 'N'
	ORDER BY A.CREATED_AT DESC
	LIMIT 10
	)
	UNION ALL
	(
	SELECT *
	FROM tbl_board A
	LEFT JOIN tbl_thumbnail B
	ON A.iboard = B.iboard
	WHERE A.icode = 'B004' AND A.del_yn = 'N'
	ORDER BY A.CREATED_AT DESC
	LIMIT 10
	)
	UNION ALL
	(
	SELECT *
	FROM tbl_board A
	LEFT JOIN tbl_thumbnail B
	ON A.iboard = B.iboard
	WHERE A.icode = 'B005' AND A.del_yn = 'N'
	ORDER BY A.CREATED_AT DESC
	LIMIT 10
	)
	</select>
</mapper>